#rootpaperForgot{
    /* margin-top : 100px; */
    /* padding : 40px; */
    width:333px;
    height: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #imgForgot {
    border-radius: 50%;
    width:100px;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .firstcontainerForgot{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .containerForgot {
      height: 320px;
      font-size: 28px;
      color: rgb(228, 86, 86);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
    }
    #subbtnForgot {
      /* width: 90%; */
      background-color: #1189de;
      font-weight: bold;
      color: #fff;
      width: 298px;
  
    }
    .loginFromForgot {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 333px;
      height: 320px;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      /* border: 3px solid #73ad21; */
    }
    .inputFieldForgot {
      padding: 16px;
    }
    .submitButtonForgot {
      padding: 1px;
      /* width: 294px; */
    }
    #btnForgot {
      /* width: 90%; */
      min-width: 270px;
      color: #565656;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
    }
    .belowloginForgot {
      /* padding: 10px; */
      flex-direction: row;
      display: flex;
      justify-content: flex-end;
      width: 330px;
    }
    #forgotstyleForgot {
      font-size: 10px;
      /* font-style: italic; */
      font-weight: bold;
      color: #1E90FF;
      margin-right: 10px;
    }
    .loginstyleForgot {
      font-size: 20px;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .fundootitleForgot{
      font-size: 18px;
      color: rgb(228, 86, 86);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
    }
    .usernameForgot span {
      color: red;
      font-size: 28px;
    }
    .usernameForgot span:nth-child(2n+1) {
      color: blue;
    }
    #registerForgot{
      font-size: 12px;
      margin-top: 10px;
      color: #1E90FF;
  
    }
    .registercontainerForgot{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .arrowForgot{
      color: #292929;
      margin-top: 5px;
      width:  300px;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .emaildisplayForgot{
      margin-top: 2px;
      font-size: 15px;
      color:#292929;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
  
    }
  .EmailForgot{
    font-size: 20px;
    /* padding: 1px; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .RecoveryForgot{
      
  }
  
  
  
  @media only screen 
  and (max-width : 375px) {
    #rootpaperForgot{
      /* margin-top : 100px; */
      /* padding : 40px; */
      width:310px;
      height: 320px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .containerForgot {
        height: 320px;
        font-size: 28px;
        color: rgb(228, 86, 86);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F8F8F8;
      }
  
      .loginFromForgot {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 310px;
        height: 320px;
        max-width: 400px;
        align-items: center;
        justify-content: center;
        /* border: 3px solid #73ad21; */
      }
  }