#rootpaper{
  /* margin-top : 100px; */
  /* padding : 40px; */
  width:333px;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#img {
  border-radius: 50%;
  width:100px;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.border{
  height:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.firstcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
    height: 400px;
    font-size: 28px;
    color: rgb(228, 86, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
  }
  #subbtn {
    /* width: 90%; */
    background-color: #1189de;
    font-weight: bold;
    color: #fff;
    width: 298px;

  }
  .loginFrom {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 333px;
    height: 400px;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    /* border: 3px solid #73ad21; */
  }
  .inputField {
    padding: 10px;
    resize: none;
    overflow: hidden;
    /* height : 400px; */
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
  }
  .submitButton {
    padding: 10px;
    /* margin-top: 10px; */

    /* width: 294px; */
  }
  #btn {
    /* width: 90%; */
    min-width: 270px;
    color: #565656;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    resize: none;
    overflow: hidden;
    /* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
  }
  .belowlogin {
    /* padding: 10px; */
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    width: 330px;
    margin-top: 20px;
  }
  #forgotstyle {
    font-size: 10px;
    /* font-style: italic; */
    font-weight: bold;
    color: #1E90FF;
    margin-right: 10px;
  }
  .loginstyle {
    font-size: 20px;
    padding: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .fundootitle{
    font-size: 18px;
    color: rgb(228, 86, 86);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
  }
  .username span {
    color: red;
    font-size: 28px;
  }
  .username span:nth-child(2n+1) {
    color: blue;
  }
  #register{
    font-size: 12px;
    margin-top: 10px;
    color: #1E90FF;

  }
  .registercontainer{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .arrow{
    color: #292929;
    margin-top: 5px;
    width:  300px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .emaildisplay{
    margin-top: 2px;
    font-size: 15px;
    color:#292929;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;

  }





@media only screen 
and (max-width : 375px) {
  #rootpaper{
    /* margin-top : 100px; */
    /* padding : 40px; */
    width:310px;
    height: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container {
      height: 450px;
      font-size: 28px;
      color: rgb(228, 86, 86);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
    }

    .loginFrom {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 310px;
      height: 450px;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      /* border: 3px solid #73ad21; */
    }
}