body{
    font-weight: 500;
    font-family: lato;
}
.detailcontainer2{
    width : 80%;
    height: 500px;
    /* margin-top: 10px; */
    display : flex;
    flex-direction: column;
    /* background-color: blue; */
}
.stylefont{
    font-family: lato;
    font-size: 18px;
}
.questionPart{
    /* height: 40px; */
    width: 87%;
    flex-wrap: wrap;
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    /* margin-top: 10px;
    margin-bottom: 10px; */

    /* justify-content: center; */
    /* background-color: blueviolet; */
}
.approved{
    background-color: chartreuse;
    color: white;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left:10px ;
    padding : 2px;
    /* margin-top: 10px; */
    border-radius: 5px;
    font-size: 16px;
    background-color: #1189de;
    color : white;
    font-family: lato;
}
.canceled{
    /* margin-top: 10px; */
    background-color: red;
    color :white;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left:10px ;
    padding : 2px;
    border-radius: 5px;
    font-family: lato;
    font-size: 16px;
    background-color: #1189de;
    color : white;


}
.approved1{
    /* margin-top: 10px; */
    font-family: lato;
    background-color: white;
    color:black;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left:10px ;
    padding : 2px;
    border-radius: 5px;
    font-family: lato;
    font-size: 16px;
    background-color: #1189de;
    color : white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);



}
.canceled1{
    /* margin-top: 10px; */
    background-color: white;
    color : black;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left:10px ;
    padding : 2px;
    border-radius: 5px;
    font-family: lato;
    font-size: 16px;
    background-color: #ec082e;
    color : white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);




}
.row{
    display : flex;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;

    /* justify-content: center; */
}
.alignItemCenter{
    display: flex;
    align-items: center;
}
.End{
    display: flex;
    justify-content: flex-end;
}
.rowWise{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
    margin-top: 15px;

}
.widthApproval{
    /* width : 50px */
    margin-right: 30px;
}
.stylefont1{
    font-family: lato;
    font-size: 18px;
    font-weight: bold;
}