#rootpaperReg{
    margin-top : 70px;
    margin-bottom: 70px;
    /* padding : 40px; */
    width:65%;
    height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .firstcontainerReg{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .containerReg {
    width: 100%;
      height: 700px;
      font-size: 28px;
      /* color: rgb(228, 86, 86); */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      /* background-color: rgb(160, 23, 23); */
    }
    .loginstyleReg{
        margin-top: 10px;
        font-size: 25px;
        /* padding: 16px; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  .container2Reg{
      /* padding : 35px; */
    height: 700px;
    font-size: 15px;
    color:black;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
  }
  .usernameReg span {
    color: red;
    font-size: 25px;
  }
  .usernameReg span:nth-child(2n+1) {
    color: blue;
  }
  .rowReg{
    /* padding: 10px; */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* justify-content: space-between */

  }
  #btnReg {
    width: 190px;
    /* min-width: 265px; */
    color: #565656;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    height: 20px;
  }
  .inputFieldReg {
    padding: 1px;
    margin-right: 10px;
  }
  #btnEmailReg{
    width: 420px;
    /* min-width: 265px; */
    color: #565656;
    font-size: 12px;
    font-weight: bold;
    border-radius: 4px;
    background: #fff;
    cursor: pointer;
    height: 20px;
  }
  .submitButtonReg {
    display: flex;
    justify-content: flex-end;
    /* padding: 1px; */
    width: 450px;
    /* width: 294px; */
    /* margin-top: 5px; */
  }
  #subbtnReg {
    justify-content: flex-end;
    background-color: #1189de;
    font-weight: bold;
    color: #fff;
    width: 100px;
    height:40px;
  }
  .servicerootR{
    /* min-width: 275; */
    height: 150px;
    width : 150px;
    position: relative;
    z-index: 9;
    /* background-color: blue; */
    margin-bottom: 15px;
    /* padding : 40px; */
}
.serviceroot1R{
    /* min-width: 275; */
    height:150px;
    width : 150px;
    position: relative;
    z-index: 8;
    margin-top: -140px;
    margin-left: 40px;
    /* padding : 40px; */
}
.boxwidth{
  width: 30%;
  height: 100%;
  
}
.twocardR{
    padding : 10px;
  width : 200px;
  height : 200px;
}
.title1R{
  height:180px;
  width : 180px;
  font-size: 14;
display : flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: grey;
}
.title1Radvance{
  height:180px;
  width : 180px;
  font-size: 14;
display : flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: yellow;
}
.title1Rbasic{
  height:180px;
  width : 180px;
  font-size: 14;
display : flex;
      flex-direction: column;
      justify-content: flex-end;
      background-color: yellow;
}
.boldpointR{
  font-size: 8px;
  /* height : 5px; */
  list-style-type : circle
}  









  @media only screen 
  and (max-width : 414px) {
    #rootpaperReg{
      margin-top : 70px;
      margin-bottom: 70px;
      /* padding : 40px; */
      width:100%;
      height: 500px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      
    }
    
    .firstcontainerReg{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .containerReg {
      width: 100%;
        height: 500px;
        font-size: 28px;
        /* color: rgb(228, 86, 86); */
        display: flex;
        flex-direction: column;
        background-color: rgb(160, 23, 23);
      }
      .loginstyleReg{
          margin-top: 10px;
          font-size: 25px;
          /* padding: 16px; */
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
    .container2Reg{
        padding : 35px;
      height: 500px;
      font-size: 15px;
      color:black;
      display: flex;
      flex-direction: column;
      background-color: #FFFFFF;
      width: 100%;
    }
    .usernameReg span {
      color: red;
      font-size: 25px;
    }
    .usernameReg span:nth-child(2n+1) {
      color: blue;
    }
    .rowReg{
      /* padding: 10px; */
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      /* justify-content: space-between */
  
    }
    #btnReg {
      width: 90px;
      /* min-width: 265px; */
      color: #565656;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      height: 20px;
    }
    .inputFieldReg {
      padding: 1px;
      margin-right: 10px;
    }
    #btnEmailReg{
      width: 210px;
      /* min-width: 265px; */
      color: #565656;
      font-size: 12px;
      font-weight: bold;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
      height: 20px;
    }
    .submitButtonReg {
      display: flex;
      justify-content: flex-end;
      padding: 1px;
      width: 215px;
      /* width: 294px; */
      margin-top: 20px;
    }
    #subbtnReg {
      justify-content: flex-end;
      background-color: #1189de;
      font-weight: bold;
      color: #fff;
      width: 50px;
    }
    .servicerootR{
      /* min-width: 275; */
      height: 150px;
      width : 150px;
      position: relative;
      z-index: 9;
      /* background-color: blue; */
      margin-bottom: 15px;
      /* padding : 40px; */
  }
  .twocardR{
    /* padding : 10px; */
  width : 200px;
  height : 200px;
}
  }