#rootpaperReset{
    /* margin-top : 100px; */
    /* padding : 40px; */
    width:333px;
    height: 320px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #imgReset {
    border-radius: 50%;
    width:100px;
    height: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .firstcontainerReset{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .containerReset {
      height: 320px;
      font-size: 28px;
      color: rgb(228, 86, 86);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
    }
    #subbtnReset {
      /* width: 90%; */
      background-color: #1189de;
      font-weight: bold;
      color: #fff;
      width: 298px;
  
    }
    .loginFromReset {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      width: 333px;
      height: 320px;
      max-width: 400px;
      align-items: center;
      justify-content: center;
      /* border: 3px solid #73ad21; */
    }
    .inputFieldReset {
      padding: 16px;
    }
    .submitButtonReset {
      padding: 1px;
      /* width: 294px; */
    }
    #btnReset {
      /* width: 90%; */
      min-width: 270px;
      color: #565656;
      font-size: 14px;
      font-weight: bold;
      border-radius: 4px;
      background: #fff;
      cursor: pointer;
    }
   
    #forgotstyleReset {
      font-size: 10px;
      /* font-style: italic; */
      font-weight: bold;
      color: #1E90FF;
      margin-right: 10px;
    }
    .loginstyleReset {
      font-size: 20px;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .fundootitleReset{
      font-size: 18px;
      color: rgb(228, 86, 86);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
    }
    .usernameReset span {
      color: red;
      font-size: 28px;
    }
    .usernameReset span:nth-child(2n+1) {
      color: blue;
    }
    #registerReset{
      font-size: 12px;
      margin-top: 10px;
      color: #1E90FF;
  
    }
    .registercontainerReset{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .arrowReset{
      color: #292929;
      margin-top: 5px;
      width:  300px;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .emaildisplayReset{
      margin-top: 2px;
      font-size: 15px;
      color:#292929;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #F8F8F8;
  
    }
  
  
  
  
  
  @media only screen 
  and (max-width : 375px) {
    #rootpaperReset{
      /* margin-top : 100px; */
      /* padding : 40px; */
      width:310px;
      height: 320px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .containerReset {
        height: 320px;
        font-size: 28px;
        color: rgb(228, 86, 86);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #F8F8F8;
      }
  
      .loginFromReset {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 310px;
        height: 320px;
        max-width: 400px;
        align-items: center;
        justify-content: center;
        /* border: 3px solid #73ad21; */
      }
  }