.TableContainer{
    background-color: black;
    
}
.textDesign{
    color: white;
}
.tableWidth{
    width: 100%;
    height: 500px;
  
}
.tableCenter{
    width : 70%;
    /* height : 70%; */
    display: flex;
    justify-content: center; 
     align-items: center;
     margin-left: 200px;
}